.toolbar {
  margin: 16px 0;
  display: flex;
  justify-content: flex-end;
}

.tabla-wrapper {
  overflow-x: auto;
  margin-top: 16px;
}

.tabla-asistencias {
  width: 100%;
  border-collapse: collapse;
  background: white;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 3px 8px rgba(0,0,0,0.1);
}

.tabla-asistencias th {
  background: #f5f5f5;
  padding: 12px;
  text-align: center;
  font-weight: 600;
  border-bottom: 1px solid #ddd;
}

.tabla-asistencias td {
  padding: 10px;
  text-align: center;
  border-bottom: 1px solid #eee;
  transition: background 0.2s ease, transform 0.15s ease;
  &.name {
    text-align: start;
  }
}

/* MODO EDICIÓN — resaltamos que se puede clickear */
.edit-mode td {
  cursor: pointer;
}

.edit-mode td:hover {
  background: #e3f2fd;
  // transform: scale(1.04);
}

/* ESTADOS */
.estado {
  display: inline-block;
  padding: 4px 8px;
  border-radius: 6px;
  font-size: 14px;
  min-width: 36px;
  border: 2px solid transparent;   /* 👈 Esto fija el espacio del borde */
  box-sizing: border-box;
}



/* Presente */
.estado.presente {
  background: #c8e6c9;
  color: #256029;
}

/* Ausente */
.estado.ausente {
  background: #ffcdd2;
  color: #b71c1c;
}

/* Justificado */
.estado.justificado {
  background: #fff9c4;
  color: #8a6d00;
}

/* Vacío */
.estado.vacio {
  background: #eeeeee;
  color: #555;
}


.btn-editar {
  background: #b91c1c;
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
  transition: 0.2s ease;
}

/* En edición las celdas mantienen su color pero se ven "editables" */
// .edit-mode .estado {
//   border: 2px dashed rgba(0,0,0,0.4);
//   box-sizing: border-box;
// }

/* Hover más claro, sin borrar color */
.edit-mode td:hover .estado {
  filter: brightness(1.05);

}
.edit-mode .estado.presente {
  border: 2px dashed #256029;
   background: #eeeeee;
}

.edit-mode .estado.ausente {
  border: 2px dashed #b71c1c;
   background: #eeeeee;
}
