body {
  margin: 0;
  padding: 0;
}

.contenedor {
  background-color: #ffffff; /* fondo blanco */
  height: 100vh; /* altura de la pantalla */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.botones {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.boton-grande {
  background-color: #ff0000; /* fondo rojo */
  color: #ffffff; /* texto blanco */
  border: none;
  padding: 20px 40px;
  font-size: 24px;
  cursor: pointer;
  border-radius: 10px;
  margin-bottom: 20px;
}

.boton-grande:hover {
  background-color: #cc0000; /* efecto hover */
}