<nav class="navbar">
  <div class="logo">
    <img src="assets/logo.png" alt="Logo SIRCA">
  </div>

  <ul class="menu">
    <!-- Profesor -->
     <span *ngIf="role === 'PROFESOR'" class="nav-group">
      <span class="nav-item">
        <a (click)="show('asistencia')">Toma de asistencia</a>
      </span>
      <span  class="nav-item">
        <a (click)="show('code-validator')">Válidar códigos</a>
      </span>
      <span  class="nav-item">
        <a (click)="show('calificaciones')">Calificaciones</a>
      </span>
     </span>


    <!-- Alumno -->
     <span *ngIf="role === 'ALUMNO'" class="nav-group">
      <span class="nav-item">
        <a (click)="show('code-generator')">Generar código</a>
      </span>
      <span  class="nav-item">
        <a (click)="show('materias')">Mis materias</a>
      </span>
     </span>


    <!-- Opción común a todos -->
    <span class="nav-item">
      <a (click)="logout()">Cerrar sesión</a>
    </span>
  </ul>
</nav>
