<nav class="mat-primary">
  <div class="navbar">
    <span>
      <mat-icon svgIcon="logo"></mat-icon>
     </span>
    <div class="nav-buttons">
      <span  *ngIf="!(auth.isAuthenticated$ | async)">
        <button mat-raised-button color="primary" (click)="login()">
        Login
        </button>
      </span>
      <span *ngIf="auth.isAuthenticated$ | async">
          <a mat-raised-button color="primary" routerLink="/calificaciones" routerLinkActive="active">
    Calificaciones
          </a>
        <button mat-raised-button color="primary" (click)="logout()">
           Logout
          </button>
      </span>
      <span>
        <button mat-raised-button color="primary"(click)="llamarApi()">Llamar Api</button>
      </span>
    </div>
  </div>
</nav>
