.wizard-container {
  max-width: 800px;
  margin: auto;
}

.steps-header {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;

  div {
    padding: .5rem 1rem;
    border-radius: 6px;
    background: #ddd;
    cursor: pointer;
    &.active {
      background: #800020; // bordo
      color: white;
      font-weight: bold;
    }
  }
}

.steps-content {
  border-radius: 12px;
  background: #fff;
  box-shadow: 0 2px 8px rgba(0,0,0,.1);
  padding: 1rem;
  h2 {
    margin-top: 0;
  }
}

.full-width {
  width: 350px
}
