<div class="search-section">
  <div class="search-option">

   <mat-form-field appearance="outline" class="select-input" style="width: 100%;">
    <input
      type="text"
      matInput
      placeholder="Seleccione un curso"
      [(ngModel)]="cursoSeleccionadoTexto"
      (ngModelChange)="filtrarCursos($event)"
      [matAutocomplete]="auto"
    />

    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onCursoSeleccionado($event.option.value)">
      <mat-option *ngFor="let curso of cursosFiltrados" [value]="curso">
        {{ curso.nombre }} - {{ curso.codigo }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>

  </div>

   <div class="info-note">
      <svg
        class="info-icon"
        xmlns="http://www.w3.org/2000/svg"
        width="20"
        height="20"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
      >
        <circle cx="12" cy="12" r="10"></circle>
        <line x1="12" y1="16" x2="12" y2="12"></line>
        <line x1="12" y1="8" x2="12.01" y2="8"></line>
      </svg>
      <p>
        Podes buscar el curso seleccionándolo de la lista o ingresando directamente su
        código.
      </p>
    </div>
</div>
