<div class="search-section">
  <div class="search-option">

   <mat-form-field appearance="outline" class="select-input" style="width: 100%; max-width: 400px;">
    <input
      type="text"
      matInput
      placeholder="Seleccione un curso"
      [(ngModel)]="cursoSeleccionadoTexto"
      (ngModelChange)="filtrarCursos($event)"
      [matAutocomplete]="auto"
    />

    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onCursoSeleccionado($event.option.value)">
      <mat-option *ngFor="let curso of cursosFiltrados" [value]="curso">
        {{ curso.nombre }} - {{ curso.codigo }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>

  </div>

   <div class="info-note" *ngIf="!cursoSeleccionado">
     <mat-icon>info</mat-icon>
      <p>
        Podes buscar el curso seleccionándolo de la lista o ingresando directamente su
        código.
      </p>
    </div>
</div>
